#legWindow {
	width: 100%;
	min-height: 100vh;
	align-content: center;
	font-family: adobe-garamond;
	background-color: #E7E7E7;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}

#reader {
	position: relative;
	width: 82vw;
	left: 50%;
	margin-left: -41vw;
	background-color: #EEE;
	top: -24px;
}

.bodyHide {
	visibility: hidden;
	height: 0px;
	display: none;
	position: relative;
}

.left-margin,
.right-margin {
	position: fixed;
	margin: 0;
	width: 7.5vw;
	z-index: 5;
	text-align: center;
	top: 25px;
}

.left-margin {
	left: 0;
}

.right-margin {
	right: 0;
}

.legIcon {
	width: 35px;
	opacity: .6;
	padding: 1px;
}

#optionsMenu {
	height: 400px;
	width: 300px;
	position: relative;
	left: -275px;
	background-color: white;
	border: solid #e7e7e7 4px;
	border-radius: 12px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

#innerArticle {
	position: relative;
	background-color: #EEE;
	margin: 15px;
}

.legImg {
	max-width: 60vw;
	box-shadow: 5px 5px 5px 2.5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border: solid #8B8B8B 1px;
	opacity: .6;
	position: relative;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%)
}

.legDiv {
	align-content: center;
	align-self: center;
	text-align: center;
}

.legText {
	text-indent: 20px;
	line-height: 1.5;
	text-align: left;
	font-size: 1em;
}

.adjust {
	font-size: 1em;
}

.legHeader {
	text-align: center;
	font-family: adobe-bodoni;
	font-size: 1.8em;
	text-decoration: underline;
	font-variant: normal;
	font-weight: 500;
	line-height: 1.4em;
	color: darkslategray;
	padding-top: 20px;
}

.legLink {
	text-decoration: none;
	color: black;
}

.legFooter {
	border: solid gray 2px;
	margin-top: 70px;
	font-size: .8em;
}

.legSpan {
	margin: 0;
	color: lightslategray;
	justify-content: space-between;
	font-size: 1em;
}

.visually-hidden {
	display: none;
}

.byline-dateline {
	text-align: center;
}